/Arastoo Amirbahrami resume (2).png
/Arastoo Amirbahrami resume.pdf
/BitTorrent.lnk
/Buddhism
/desktop.ini
/DriverBoosterPortable - Shortcut.lnk
/Files_008 - Shortcut.lnk
/Internet Download Manager.lnk
/KMPlayer.lnk
/mahyar.py
/multiple-image-uploader-using-node-express-mongodb-givefastlink.mp4
/New Text Document.txt
/padkade.py
/PK-300422-Arastoo works.docx
/PK-300422-Arastoo works.pdf
/projects done.txt
/rufus-3.18p.exe
/studio-3t-x64.exe
/Telegram.lnk
/This PC - Shortcut.lnk
/Visual Studio Code.lnk
/WhatsApp.lnk